<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <title>cookaholic registration</title>
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">

</head>
<body>

<div class="bg" id="dialogBg"></div>
<section>
    <div class="c-box bg-box">
        <div class="login-box clearfix">
            <div class="fl slide">
                <div class="imgslide">
                    <ul class="imgs">
                        <li><a href=""><img width="483" height="472" src="/static/images/register/slide1.jpg" /></a></li>
                        <li><a href=""><img width="483" height="472" src="/static/images/register/slide2.jpg" /></a></li>
                        <li><a href=""><img width="483" height="472" src="/static/images/register/slide3.jpg" /></a></li>
                    </ul>
                </div>
                <div class="unslider-arrow prev"></div>
                <div class="unslider-arrow next"></div>
            </div>
            <div class="fl form-box">
                <div class="tab">
                    <h2>Registration</h2>
                </div>
                <div class="tab-form">
                    <form id="email_register_form" method="post" action="/register/" autocomplete="off">
                        <div class="form-group marb20 ">
                            <label>Email</label>
                            <input  type="text" id="id_email" name="email" value="None" placeholder="example@ex.com" />
                        </div>
                        <div class="form-group marb8 ">
                            <label>password</label>
                            <input type="password" id="id_password" name="password"  value="None" placeholder="password" />
                        </div>
                        <input class="btn btn-green" id="jsEmailRegBtn" type="submit" value="Register" />
                        {% csrf_token %}
                    </form>
                </div>
                <p class="form-p">Already have an account?<a href="login.html">[Login]</a></p>
            </div>
        </div>
    </div>
</section>

</body>
</html>